<div id="{{ drawer_id }}-overlay" class="hidden transition-opacity ease-in-out duration-700 fixed top-0 left-0 right-0 bottom-0 bg-black z-40"></div>
<div id="{{ drawer_id }}" data-drawer data-drawer-state="closed" class="hidden transition-transform ease-in-out duration-700 fixed top-0 right-0 z-50 bg-white h-full w-full shadow-lg overflow-y-auto">
    {{ drawer_content }}
</div>