{%- assign buttonSizeClass = 'rz-btn-lg' -%}
{%- if compact == true -%}
    {%- assign buttonSizeClass = 'rz-btn-xs xl:rz-btn-sm' -%}
{%- endif -%}
<button type="submit" data-add-cart-selected-product-variant-id="{{ product.selected_or_first_available_variant.id }}" data-add-cart="{{ product.selected_or_first_available_variant.id }}" data-animation-source="cart" class="{{ buttonSizeClass }} w-full rz-btn-primary">
    <span data-add-state="error" class="hidden">{% render 'icon-error', class: 'mx-auto h-7 w-7 text-content-inverse', fill: 'none' %}</span>
    <span data-add-state="success" class="hidden">{% render 'icon-success', class: 'mx-auto h-7 w-7 text-content-inverse', fill: 'none' %}</span>
    <span data-add-state="loading" class="hidden">{% render 'icon-loading', class: 'animate-spin mx-auto h-7 w-7 text-content-inverse' %}</span>
    <span data-add-state="default">{{ button_text }}</span>
</button>
