<div data-no-overlay class="container mx-auto pt-12 pb-16">
    <div class="w-full lg:w-3/5 mx-auto">
        <h1 class="text-4xl font-bold">{{ page.title }}</h1>
        <div class="mt-8 text-lg space-y-4">{{ page.content }}</div>
    </div>
</div>